@model BaseLayoutModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title🤯</title>
    <link href="~/css/base-layout.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="container">

            <a class="title"><b>rtxdiv</b> prod.</a>

            @if (Model.ShowRequests == true) {

                <div class="requests">

                    <div class="button">Мои запросы</div>

                    @if (Model.ShowNotification == true) {
                        <div class="notification">UPD</div>
                    }
                </div>
            }

        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>