@model aspnet1.Models.ViewModels.BaseLayoutModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title🤯</title>
    <link href="~/css/layout/base.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
        <div class="container">

            <p class="title"><b>rtxdiv</b> prod.</p>

            @if (Model.Layout.ShowRequests == true) {

                <div class="requests" onclick="goToRequests()">
                    <div class="button">Мои запросы</div>
                    @if (Model.Layout.ShowNotification == true) {
                        <div class="notification">UPD</div>
                    }
                </div>
            }

        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/layout/base.js"></script>
</body>
</html>