<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title🤯</title>
    <link href="~/css/layout/modal.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="container">

            <div class="back">
                <img src="~/img/back.png" />
                <a>НАЗАД</a>
            </div>

        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>