body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    font-size: 15px;
    color: black;
    align-items: center;

    > .container:first-of-type {
        margin-top: 50px;
    }
}

.container {
    width: 85%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    position: fixed;

    > .container {
        flex-direction: row;
        justify-content: start;
    }

    .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        > img {
            width: 16px;
            aspect-ratio: 1/1;
            margin-right: 8px;
        }
        > a {
            font-size: 16px;
            color: rgb(50, 50, 50);
            line-height: 0;
        }
    }
}