@using services.Entity
@model services.Models.ViewModels.RequestsModel
@{
    Layout = "~/Views/Layouts/ModalLayout.cshtml";
}

@section Styles {
    <link href="~/css/card.css" rel="stylesheet" />
    <link href="~/css/requests.css" rel="stylesheet" />
}

@if (Model.Requests.Count == 0) {
    <img class="norequests" src="~/img/norequests.png" />
}
@foreach (Request request in Model.Requests) {
    <div class="card">

        <div class="body">

            <div class="body-content">
                <p class="title">@request.ServiceName</p>
                <p class="text">@request.Query</p>
            </div>

            @if (Model.Admin == true) {
                <div class="control-admin">
                    <button>Accept</button>
                    <button>Reject</button>
                </div>
            }

        </div>

    </div>
}