@using aspnet1.Entity
@model aspnet1.Models.ViewModels.HomeModel
@{
	Layout = "~/Views/Layouts/BaseLayout.cshtml";
}

@section Styles {
	<link href="~/css/card.css" rel="stylesheet" />
}

@foreach (Service service in Model.Services) {
	<div class="card">

		<div class="body">

			<div class="imagebox">
				<img src="~/img/services/@service.Image" />
			</div>

			<div class="body-content">
				<p class="title">@service.Name</p>
				<p class="text">@service.Description</p>

				@if (Model.Admin == false) {
					<form class="control-user" method="post" action="/order">
						<input type="text" value="@service.Id" name="id" readonly />
						<button type="submit">Заказать</button>
					</form>
				}
			</div>

		</div>

		@if (Model.Admin == true) {
			<div class="control-admin">
				<button>Visible</button>
				<button>Edit</button>
				<button>Delete</button>
			</div>
		}

	</div>
}
