@using aspnet1.Entity
@model aspnet1.Models.HomeModel
@{
	Layout = "~/Views/Layouts/BaseLayout.cshtml";
}

@section Styles {
	<link href="~/css/card.css" rel="stylesheet" />
}

@foreach (Service service in Model.Services) {
	<div class="card">

		<div class="body">

			<div class="imagebox">
				<img src="~/img/services/@service.Image" />
			</div>

			<div class="body-content">
				<a class="title">@service.Name</a>
				<a class="text">@service.Description</a>

				@if (Model.Admin == false) {
					<div class="control-user">
						<button>book</button>
					</div>
				}
			</div>

		</div>

		@if (Model.Admin == true) {
			<div class="control-admin">
				<button>Visible</button>
				<button>Edit</button>
				<button>Delete</button>
			</div>
		}

	</div>
}
