.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px rgb(150, 150, 150) solid;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);

    .body {
        display:  flex;
        flex-direction: column;

        .imagebox {
            height: 70px;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .body-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px 25px;
            border-top: 0;
            overflow-wrap: break-word;

            .title {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
                margin-bottom: 5px;
            }
            .text {
                font-size: 16px;
                margin: 7px 0;
            }
            .control-user button {
                margin-top: 15px;
                background: rgb(0, 132, 255);
                color: white;
                outline: none;
                border: 2px rgb(0, 118, 227) solid;
                box-sizing: border-box;
                border-radius: 7px;
                height: 35px;
                padding: 0 10px;
                width: 180px;
                max-width: 100%;
                font-size: 16px;
                cursor: pointer;
                transition: 0.2s;
            }
            .control-user input {
                display: none;
            }
            .control-user button:hover {
                transform: translateY(-2px);
            }
        }
    }

    .control-admin {
        display: flex;
        flex-direction: row;
        height: 35px;
        box-sizing: border-box;

        > button {
            flex-grow: 1;
            height: 100%;
            border-radius: 0;
            outline: none;
            box-sizing: border-box;
            border: none;
            background: transparent;
            border-top: 1px rgb(150, 150, 150) solid;
            border-right: 1px rgb(150, 150, 150) solid;
            cursor: pointer;
        }

        > button:last-of-type {
            border-right: none;
        }
    }
}

@media screen and (min-width: 800px) {
    .body {
        position: relative;
    }
    .imagebox {
        position: absolute;
        right: 0;
        width: 150px !important;
        height: 100% !important;
        z-index: 1;
    }
    .imagebox::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(to right, rgb(245, 245, 245) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .body-content {
        padding-right: 200px !important;
    }
}