.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    border-bottom: 1px rgb(180, 180, 180) solid;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

    .imagebox {
        height: 40px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px 25px;
        border-left: 1px rgb(180, 180, 180) solid;
        border-right: 1px rgb(180, 180, 180) solid;
        border-top: 0;

        .title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .text {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .control-user button {
            background: rgb(0, 132, 255);
            color: white;
            outline: none;
            border: 2px rgb(0, 94, 182) solid;
            box-sizing: border-box;
            border-radius: 7px;
            height: 35px;
            padding: 0 10px;
            min-width: 180px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.2s;
        }
        .control-user button:hover {
            transform: translateY(-2px);
        }
    }

    .control-admin {
        display: flex;
        flex-direction: row;
        height: 35px;

        > button {
            flex-grow: 1;
            height: 100%;
            border-radius: 0;
            outline: none;
            box-sizing: border-box;
            border: none;
            border-right: 1px black solid;
            cursor: pointer;
        }

        > button:last-of-type {
            border-right: none;
        }
    }
}
